.button {
  outline: none;
  text-decoration: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: $color-dark-accent;
  color: $color-light;
  font-size: $font-size-medium;
  font-weight: bold;

  &[disabled] {
    opacity: 0.6;
  }

  &:hover,
  &:active {
    &:not([disabled]) {
      background-color: darken($color-dark-accent, 50%);
    }
  }
}

.dark {
  background-color: $color-light;
  color: $color-dark-accent;

  &:hover,
  &:active {
    &:not([disabled]) {
      background-color: lighten($color-dark-accent, 25%);
    }
  }

}
