.new-question-container {
  border-radius: 0.5rem;
  background-color: $color-dark-accent;
  margin: 1rem auto;
  padding: 0 1.6rem;
  max-width: 40rem;

  .text-input {
    margin-top: 1rem;
    font-size: $font-size-medium;
  }

  .submit-button {
    margin: 1rem 0;
    font-size: $font-size-medium;
    color: $color-dark;
    font-weight: bold;
  }

  .title {
    color: $color-light;
    margin: 1rem 0;
  }
}