.list-item-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  border: 1px $color-dark solid;
  border-radius: 2%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: $color-dark-accent;
  color: $color-light;
}

.list-item-avatar {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
