// Font size
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Icon size
$icon-size-small: 2rem;
// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
// LoadingIndicator color
$loader-main: rgb(93, 186, 240);
// colors
$color-dark: #3A5558;
$color-dark-accent: #686F85;
$color-main-accent: #86D2CF;
$color-light-accent: #818485;
$color-light: #F9F9F9;

